$primary: #a6c1ee;
$secondary: #fbc2eb;
$component: #c3b6e6;
$font: #978bbf;
$white: white;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "component": $component,
  "font": $font,
  "white": $white,
);
